* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: aliceblue;
}

#root {
    margin: 30px auto;
    width: 700px;
    text-align: center;
}

#root input {
    border: 1px solid gainsboro;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
}

#root input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

#root button {
    border: 1px solid gainsboro;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    transition: 0.2s;
}

#root button:hover {
    color: white;
    background-color: #86b7fe;
    border-color: #86b7fe;
}

#todo-list {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    list-style: none;
    background-color: white;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-list li:not(:last-child) {
    margin-bottom: 10px;
}
